.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.detail img{
    max-width: 350px;
    width: 100%;
    margin: 10px;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin:5px 20px;
    display: block;

}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-detail h2{
    text-transform: uppercase;
    color: white;
    margin: 10px 0;
}
.box-detail .cart{
    background:  rgb(230, 101, 127);
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}
.box-detail p{
    color: white;
}
.box-detail span{
    color: crimson;
}